*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* variable */
:root{
    --navbar-item-hover-clr: rgb(75, 75, 250);
    --navbar-btn-bg-hover: black;
    --help-tick-background:blue;
    --help-icon-background: rgb(208, 212, 216);
    --help-list-background:  rgb(163, 163, 245);
    --help-tick-color: white;
    --owl-courasel-btn : #2A2A45;
    --blog-background: whitesmoke;
    --blog-heading-hover: #33334d;
    --testimonial-bg-clr-main: rgb(238, 237, 237);
    --testimonial-part-bg: white;
    --footer-main-bg:#232339;
    --footer-text: #bdbec8;
    --footer-heading: white;
    --footer-email-number-clr: #bdbec8;
    --footer-email-number-clr-hover: white;
    --footicon-bg-clr:  #2A2A45;
    --footicon-clr: #bdbec8;
    --footicon-clr-hover: #2A2A45;
    --footicon-bgclr-hover: #bdbec8;
    --copyright-text-clr: #bdbec8;
}

/* navbar */
.main{
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.nav1{
    margin-left: 15%;
}
.nav2{
    font-size: 18px;
    padding-left: 3%;
    padding-right: 3%;
    font-weight: 600;
}
.nav2:hover{
    color: var(--navbar-item-hover-clr) !important;
}
.nav3{
    display: flex;
}
.nav4{
    display: flex;
}
.nav6 button:hover{
    background: var(--navbar-btn-bg-hover);
    transition: 2s (left right);
}
@media screen AND (max-width:700px) {
    .main{
        margin: 0%;
    }
    .nav1{
        margin: 0%;
    }
    .nav4{
        display: none;
    }
    .nav5{
        display: none;
    }
    .nav6{
        display: none;
    }
}

/* header */



/* Our listing */
.mainlisting{
    margin-bottom: 15%;
}
.l{
    margin-bottom: 5%;
}
.l1{
    display: flex;
}
.l2{
    height: 70px;
    width: 90px;
}
.l2 img{
    border-radius: 5px ;
}
.l3{
    margin-left: 5%;
}
.l3 h5 a{
    color: black;
    text-decoration: none;
    font-family: nunito sans, sans-serif;
    font-size: 18px;
}
@media screen AND (max-width:700px) {
    .mainlisting{
        margin-bottom: 0%;
    }
    .l{
        margin-bottom: 2%;
    }
    .l1{
        margin-bottom: 5%;
    }  
}

/* help */
.help0{
    display: flex;
}
.help2{
    font-size: 18px;
}
.helpicon i{
    background-color: var(--help-tick-background);
    color: var(--help-tick-color);
   border-radius: 60%;
}
.help3{
    margin-left: 1%;
}
.help4{
    background-color: var(--help-list-background);
    padding: 1%;
    margin-right: 3%;
    margin-bottom: 3%;
    border-radius: 10px;
}
.help5{
    background-color: var(--help-icon-background);
    font-size: 25px;
    margin-right: 60%;
    border-radius: 5px;
}
.help5 i{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.help6{
    margin-top: -15%;
}
.help7 {
    margin-top: -25%;
    margin-bottom: 15%;
}
.help8{
    margin-top: 3%;
}
.help9{
    margin-top: -10%;
    margin-bottom: 15%;
}
@media screen AND (max-width:700px) {
    .help0{
        display: block;
        margin-bottom: 5%;
    }
    .help{
        margin-left: 3%;
    }
    .help5{
        width: 20%;
    }
    .help6{
        margin: 0%;
    }
    .help7{
        margin: 0%;
    }
    .help8{
        margin: 0%;
    }
    .help9{
        margin: 0%;
    }
}

/* latest properties */


/* Categories */
.card{
    padding: 0%;
    margin: 0%;
    background-color: transparent;
}
.c1{
    margin: 1%;
    border: none;
}
.c1 img{
    border-radius: 15px !important;
}
.c1:hover{
    opacity: 0.9;
}
.c2{
    position: absolute;
    width: 100%;
}
.c3{
    color: white;
    padding-left: 5%;
    padding-top: 3%;
    font-size: 18px;
}
.c4{
    color: white;
    padding-top: 80%;
    padding-left: 5%;
}
.industrial{
    height: 300px;
    width: 100%;
}
@media screen AND (max-width:700px) {
    .c1{
        height: 60vh !important;
    }
    .c1 img{ 
        height: 70%;
    }
    .scndrow{
        margin-top: 9%;
    }
    .c4{
        padding-top: 55% !important;
        margin: 0% !important;
    }
    .mainindustrial{
        height: 52vh !important;
    }
    .industrial{
        height: 60% !important;
    }
}

/* Blog */
.owl-buttons {
    display: none;
}
.owl-carousel:hover .owl-buttons {
    display: none;
}
.owl-theme .owl-controls .owl-buttons .owl-prev {
    left: 0;
    padding-left: 20px;
}
.owl-theme .owl-controls .owl-buttons .owl-next {
    right: 0;
    padding-right: 20px;
}
.owl-theme .owl-controls .owl-page span{
    background-color: var(--owl-courasel-btn);
}
.b1{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: var(--blog-background);
}
.b4{
    margin: 0%;
    padding-top:2%;
    padding-bottom: 2%;
}
.b4:hover{
    color: var(--blog-heading-hover);
}
.b2{
    padding-top: 2%;
    font-size: 12px;
}
.b3 a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.b3 a:hover{
    color: var(--blog-heading-hover);
}
.bimg{
    height: 200px;
    width: 320px;
    border: 5px solid white;
}
.bimg img:hover{
    transform: scale(1.1);
    transition: 1s;
    overflow: hidden;
}
@media screen AND (max-width:700px) {
    .bimg{
        width: 350px;
    }
}

/* Testimonials */
.maintestimonial{
    padding-top: 3%;
    padding-bottom: 7%;
    background-color: var(--testimonial-bg-clr-main);
}
.t{
    border: none;
    background-color:var(--testimonial-part-bg);
}
.t0{
    font-size: 14px;
    padding-left: 10%;
}
.t1 img{
    border-radius: 50%;
}
.t2 {
    padding-top: 4%;
    padding-left: 3%
}
.star{
    display: flex;
    color: goldenrod;
}
@media screen AND (max-width:700px) {
    .headtestimonial{
        padding-left: 3%;
    }
}
/* Footer */
.f0{
    background-color: var(--footer-main-bg);
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 14px;
}
.f1 p{
    color: var(--footer-text);
}
.f1 h5{
    color: var(--footer-heading);
}
.text{
    text-decoration: none;
    color: var(--footer-email-number-clr);
}
.text:hover{
    color: var(--footer-email-number-clr-hover);
}
.footicon a i{
    height: 6vh;
    width: 16%;
    text-align: center;
    font-size: 23px;
    padding: 3%;
    margin: 1%;
    color: var(--footicon-clr);
    background-color:var(--footicon-bg-clr);
}
.footicon a i:hover{
    background-color: var(--footicon-bgclr-hover);
    color: var(--footicon-clr-hover);
}
.f2{
    display: flex;
    justify-content: space-between;
    color: var(--copyright-text-clr);
}
@media screen AND (max-width:700px){
    .footicon a i{
        height: 7vh;
        width: 10%;
        font-size: 20px;
    }
    
}

/*  */