/* Contact Us */

/* navbar */
.main2{
    background-image:url("../Image/img12/bg-contact.png");
    background-size: cover;
    background-position: center;
    height: 60vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}
.main2a{
    background-color: black;
    opacity: 0.9;
    height: 60vh;
}
.contactnav1{
    padding-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.contactnavbtn1{
    display: none;
    background-color: #D22F2F;
    color: white;
    border-radius: 55px;
    font-size: 13px;
}
.contactnav2{
    margin-left: 25%;
}
.contactnav2 ul li a{
    color: white;
}
.contactnav2 ul li a:hover{
    color: #D22F2F;
}
.contactnavbtn2{
    background-color: #D22F2F;
    color: white;
    border-radius: 55px;
    font-size: 13px;
}
.conatctnavresp{
    font-size: 35px;
    color: white;
}
@media screen AND (max-width:700px) {
    .main2{
        height:75vh;
        overflow: hidden;
    }
    .main2a{
        height:75vh;
    }
    .contactnav1{
        position: absolute;
        top: 0;
        /* margin: 0%; */
    }
    .conatctnavresp{
        /* font-size: 5px; */
        margin-right: 10%;
    }
    .contactnavbtn1{
        margin-left: 15%;
        display: block;
    }
    .contactnavbtn2{
        display: none;
    }
    .contactnav2{
        margin: 0%;
    }
}

/*  */
.contacthero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
}
.contacthero a{
    color: white;
    text-decoration: none;
}
.contacthero a:hover{
    color: #D22F2F;
}
@media screen AND (max-width:700px) {
    .contactherosec{
        margin-top: 30%;
    }
}


/* waves */
.waves{
    position: relative;
    width: 100%;
    height: 20vh;
    margin-bottom: -16%;
    opacity: 0.4;
}
/* Animation */
.parallax > use{
    animation: move-forever 25s cubic-bezier(0.55,0.5, 0.45,0.5) infinite;
}
.parallax > use:nth-child(1){
    animation-delay:-2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2){
    animation-delay:-3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3){
    animation-delay:-4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4){
    animation-delay:-5s;
    animation-duration:20s;
}
@keyframes move-forever{
    0%{
        transform: translate3d(-90px,0,0);
    }
    100%{
        transform: translate3d(85px,0,0);
    } 
} 
@media screen AND (max-width:700px) {
    .waves{
        margin-top: 10%;
        width: 100%;
    }
}

/* Contact Detail */
.contactdetail{
    display: flex;
}
.contactdetail0{
    margin-right: 2%;
}
.contactdetail1{
    background-color: #D22F2F;
    color: white;
    border-radius: 50%;
    font-size: 40px;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}
.contactdetail1:hover{
    color: #D22F2F;
    background-color: white;
    border: 2px solid #D22F2F;
}
.contactdetail2{
    margin-top: 4%;
    color: #666666;
}
@media screen AND (max-width:700px) {
    .contactdetail{
        display: block;
    }
    .contactdetail0{
        margin-bottom: 12%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

/* form */
.contactform{
    display: flex;
}
.contactform1{
    border-radius: 25px;
}
.contactformbtn{
    width: 25%;
    border-radius: 25px;
}
.contactformbtn:focus{
    border: none;
    outline: none;
}
.contactformbtn a{
    text-decoration: none;
    color: white;
}
@media screen AND (max-width:700px) {
    .contactform{
        display: block;
    }
    .contactform1{
        margin-bottom: 5%;
    }
    .contactformbtn{
        width: 50%;
    }
}

/* Footer */
.mainf{
    background-color: #222222;
    color: #BABABA;
}
.f1{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
}
.f2{
    display: flex;
    font-size: 14px;
}
.f2a{
    font-size: 13px;
    color: #D22F2F;
}
.footicon a{
    color: #BABABA;
}
.footicon a:hover{
    color: #D22F2F;
}
.f3a{
    padding-right: 1%;
    font-size: 35px;
    color: #D22F2F;
}
.f3b{
    font-size: 30px;
    color: white;
    width: 100%;
}
.NewsLetter{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.f3c{
    border: 1px solid #807e7e;
    background-color: #1d1d1d;
    border-radius: 35px;
    width: 60%;
    height: 10%;
}
.f3d{
    background-color: #1d1d1d;
    margin-left: 2%;
    /* border-radius: 30px; */
    border: none;
}
.f3d:focus{
    box-shadow: none;
    background-color: transparent;
}
.f3e{
    color: white;
    background-color: #D22F2F;
    border-radius: 30px;
    font-size: 12px;
    width: 25%;
}
.f3e:hover{
    color: #D22F2F;
    background-color: white;
}
.f4{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}
.f4a a{
    border-bottom: 1px solid #D22F2F;
}
.f5{
    display: flex;
}
.fscroll{
    text-decoration: none;
    color: white;
}
.fscroll:hover{
    color: #D22F2F;
}
@media screen AND (max-width:700px) {
    .f1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .f2{
        display: block;
    }
    .NewsLetter{
        width: 100%;
    }
    .f3a{
        font-size: 35px;
        margin-bottom: 3%;
    }
    .f3b{
        width: 50%;
        font-size: 25px;
        margin-bottom: 3%;
    }
    .f3c{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .f3d{
        margin-left: 3%;
    }
    .f3e{
        font-size: 12px;
        width: 50%;
    }
    .f4{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .f4a p{
        width: 20%;
        margin-left: 45%;
    }
    .f5{
        display: block;
    }
    .f5 div{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}
